* {
    margin: 0;
    padding: 0;
}

.color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid black;
    align-self: center;
    margin: 0 10px;
}

.color-picker {
    align-self: center;
    margin: 0 10px;
    height: 50px;
    border: 0;
    box-shadow: none !important;
}

.pen-width {
    align-self: center;
    margin: 15px;
    margin-top: 3%;
}

.color-field,
.color-picker,
.pen-width {
    text-align: center;
}

.paint-tools {
    text-align: center;
    width: 100%;
}

#erase {
    margin-right: 1%;
}